.myself_search .layui-inline {
    width: 150px;
}
.other_search  .layui-inline {
    width: 150px;
}

.layui-form-item {
    margin-top: 20px;
}
.layui-form-label {
    width: 100px;
}
.layui-input-block input {
    width: 80%;
}

/**
图片右上角添加删除按钮
 */
.imgDiv {
    display: inline-block;
    position: relative;
}
.imgDiv .delete {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    display: none;
}