/*通用设置*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*头部区域*/
.login-header {
    height: 120px;
    font: 700 32px '华文楷体';
    color: #197442;
}

.login-header img {
    width: 20%;
    vertical-align: middle;
}

/*主体区域*/
.login-center {
    position: relative;
    height: 480px;
    background-color: #197442;

}
/*主体区域-轮播图*/
.login-center #carousel {
    position: absolute;
    top: 15px;
    left: 100px;
}
.login-center #carousel img {
    width: 100%;
}

/*主体区域-登录框*/
.login-center .login-form {
    position: absolute;
    top: 55px;
    right: 300px;
    width: 355px;
    height: 373px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

/*.login-center .login-form .motto{
    height: 138px;
    background: url("../images/login/motto.jpg") no-repeat center top;
    background-size: 100%;
    border-radius: 10px;
}*/

.login-center .login-form .motto{
    height: 108px;
    border-bottom: 1px solid lightgrey;
    font: 700 34px '隶书';
    text-align: center;
    line-height: 108px;
    transition: all 0.5s;
}

.login-center .login-form .motto:hover {
    font-size: 36px;
}

.layui-form-item {
    margin-bottom: 0px;
    clear: both;
    *zoom: 1;
}

.login-center .login-form input {
    width: 80%;
    margin-left: 35px;
    margin-top: 20px;
}

.login-center .login-form input[type='button'] {
    height: 38px;
    background-color: #197442;
    font: 700 28px '隶书';
    color: white;
    border: 0px;
}

.login-center .login-form input[type='button']:hover {
    background-color: lightgreen;
    /*transform: scaleY(1.1);*/
}

.login-footer {
    height: 120px;
}

